<%= link_to "Back to all lists", lists_path, class: "btn btn-secondary mt-3" %>
<h3 class='text-center m-3'>List details</h3>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @list.name %></h5>
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <p class="card-text">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci iusto debitis dolor. Expedita nulla modi a totam. Laudantium eos ratione aut consequuntur magnam voluptatum excepturi reiciendis delectus nemo, in voluptatem.
    </p>
      <div class="card mb-3">
        <div class="card-body">
        <h5 class="card-title">Bookmarks List</h5>
        <ul>
        <% @list.bookmarks.each do |bookmark| %>
          <li><%= bookmark.movie.title %> -- <%= bookmark.comment %> -- <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-danger mt-2" %></li>
        <% end %>
        </ul>
        </div>
      </div>
  </div>
</div>

<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  Cool article
</div>

<h3 class='text-center mt-2'>Create a new bookmark</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, label: "Comment", placeholder: 'Enter a comment about the movie' %>
  <%= f.association :movie %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

<hr>
